<!--new_installer.html-->
{% extends "base.html" %}
{% block header%}
{{title}}
{% endblock %}
{% block content %}

<div class = "content" style='text-align: center'>

	{% if installers %}
<table class = "table-layout">
<th>Click to Edit:</th>
{% for installer in installers%}

		<tr style="list-style: none" id ="{{ installer.id }}">
			<td><a href ='{% url tracking.views.edit_installer installer.id %}'>{{installer}}</a>
            </td>
		</tr>
	{% endfor %}

</table>
{%endif%}
	<hr ></hr>
<p><h4>{{context_message}}</h4></p>
	<form action="" method="POST"> 
				{% csrf_token %}
				<div>
					<div id="inp1">
						<table class = "table-layout">
							{{form.as_table}}
						
						</table>
					</div>
					
				</div>
				<input type="submit" value="Submit" /> 
				
			</form>

</div>

{% endblock %}