<!--new_driver.html-->
{% extends "base.html" %}
{% block header%}
{{title}}
{% endblock %}
{% block content %}

<div class = "content" style='text-align: center'>

{% if drivers %}
<table class = "table-layout">
<th>Click to Edit</th>
{% for driver in drivers%}
		<tr style="list-style: none" id ="{{ driver.id }}">
			<td><a href ='{% url tracking.views.edit_driver driver.id %}'>{{driver}}</a>
            </td>
		</tr>
	{% endfor %}

</table>
{%endif%}
	<hr ></hr>
<h4> {{context_message}}</h4>
	<form action="" method="POST"> 
				{% csrf_token %}
				<div>
					<div id="inp1">
						<table class = "table-layout">
							{{form.as_table}}
						
						</table>
					</div>
					
				</div>
				<input type="submit" value="Submit" /> 
				
			</form>
			
</div>

{% endblock %}